html{
    background-size: cover;
background-image: url("iiiii.jpg");
opacity: 0.9;
}


.wrap {
 padding: 0 60px 20px 20px;
 margin-top: 40px;
 overflow: hidden;
 background-color: #DBD03D;
 text-align: center;

 border-color: #FFFFFF;
 width: 1090px;
 opacity: 0.8;
    position:relative;
    top: 125px;
    left:  207px;
    border: inset;
   border-bottom-right-radius: 300px;
   border-top-left-radius: 220px;
   
    
    
 }
 .wrap a{
  float:left;
  display: block;
  color:#000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  font-style: italic;
  font-weight: lighter;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #000000;
  
 }
 .wrap a:hover{
  background-color: #E0D9D9;
  color: #8A8B8E;

 }
 h1{
    text-align: center;
    color: #FCF4F4;
    font-size: 97px;
    position:relative;
    top: 54px;
    right: -325px;
    font-style: italic;
    text-shadow: 3px 2px 1px #DBD03D;
 }
 .i{
  color:#DBD03D;
  text-shadow: 3px 2px 1px #DBDAD6;
 }
 *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.m{
 opacity: 0.9;
  font-family: 'Nunito', sans-serif;
  color: #384047;
  position: relative;
  top: 99px;
  height: 100px;
}
form {
 max-height: 593px;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.c{
 position: relative;
 top:15px;
 left: 1px;
 font-size: 46px;
 color: black;
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: #596166;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color:  #DBD03D;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid  #DBD03D;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 8px;
  position: relative;
  top: -35px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color:  #DBD03D;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
.x{
   background-size: cover;
background-image: url("g.jpg");
opacity: 0.9;
}
button a{
 text-decoration: none;
 color:#FCFCFC;
}
.butunss{
 
 width: 180px;
 position: relative;
 left: 1155px;
 top: 93px;
}
